version: '2'
services:
  dokuwiki:
    image: 'smachara2/dokuwiki:latest'
    restart: always
    ports:
      - '8080:80'
      - '4433:443'
      - '25:25'
    volumes:
      - '/srv/dokuwiki-persistence:/bitnami/dokuwiki'
      - '/srv/apache-persistence:/bitnami/apache'
      - '/srv/php-persistence:/bitnami/php'
      - '/srv/dokuwiki-tpl-persistence:/opt/bitnami/dokuwiki/lib/tpl'
      - '/srv/dokuwiki-plugins-persistence:/opt/bitnami/dokuwiki/lib/plugins'
    environment:
      - DOKUWIKI_USERNAME=superuser
      - DOKUWIKI_FULL_NAME=Samer Machara
      - DOKUWIKI_PASSWORD=password
      - DOKUWIKI_EMAIL=samer.machara@telecom-sudparis.eu
      - DOKUWIKI_WIKI_NAME=Cumuloninbus
